<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.getUsername}">...</p>
<p th:text="${user.getLastName}">...</p>

<a th:href="@{edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{delete(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<hr/>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Log out"/>
</form>

</body>
</html>