<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User page</title>
</head>
<body>
<nav class="navbar badge-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">
                <span th:text="${user.username}"></span>
                <span> with roles: </span>
                <span th:each="role : ${user.roles}"
                      th:text="${role.name.replace('ROLE_', '') + ' '}">
                </span>
            </span>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/logout}" class="btn btn-dark" role="button">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-2">
        <div class="container-fluid px-0">
            <ul class="nav flex-column nav-pills ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="user">User</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-10">
        <h2>User information-page</h2>
        <div class="card">
            <h5 class="card-header">About user</h5>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${user.getId()}">...</td>
                        <td th:text="${user.getUsername()}">...</td>
                        <td th:text="${user.getLastName()}">...</td>
                        <td>
                            <th:block th:each="role : ${user.getRoles()}">
                                <span th:text="${role.getName()}"></span>
                            </th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>